<div class="flex flex-col justify-center items-center gap-3 py-4">
    <h3 class="text-lg font-bold"> Our payment options</h3>
    <div class="flex items-center gap-4">
        <div class="flex justify-center w-[120px] h-[100px] bg-gray-100 rounded-md transition-all duration-400 grayscale ease-in-out hover:bg-gray-200 hover:grayscale-0">
            <img src="https://images.seeklogo.com/logo-png/46/2/esewa-logo-png_seeklogo-469833.png" alt="" class="w-[100px] ">
        </div>
        <div class="flex justify-center w-[120px] h-[100px] bg-gray-100 rounded-md transition-all duration-400 grayscale ease-in-out hover:grayscale-0 hover:bg-gray-200">
            <img src="https://images.seeklogo.com/logo-png/33/2/khalti-logo-png_seeklogo-337962.png" alt="" class="w-[100px]">
        </div>
    </div>
</div>